
a:hover {
    color: #235b4e;
    text-decoration: none;
}


 .text-goldoc {
    color: #bc955c;
    font-size: 20px;
    
    
}
 .text-goldocgris {
    color: #e8e8e8;
    font-size: 20px;
    
    
}